h1 {
    color: darkblue;
    font-size: 30px;
    font-style: italic;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.score {
    color: gray;
}

#gameLink {
    text-align: center;
    border: 1px solid gray;
}